/*header nav .container-fluid a .navbar-brand img{*/
/*    width: 10px;*/
/*    height: 10px;*/
/*}*/
/*body{*/
/*    background-color: black;*/
    /*background-image: url("img/hero-img.png");*/
    /*background-image-size:100px;*/
/*}*/
.home{
    width: 100%;
}
.home .home-background img{
    height: 100%;
}
.home p{
     width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home p span{
    font-size: 40px;
    font-weight: bolder;
}
.about .clients .row img{
    width: 100px;
    align-items: flex-start;
}
.about .det .row{
    height: 20vh;
}
.about .row img{
    width: 600px;
}


