/**{*/
/*    width: 100%;*/
/*    padding: 10px 10px;*/
/*}*/

.row img{
    width: 100%;
    height: 50vh;
}
.carousel-inner img{
    width: 100%;
    height: 50vh;
}
.row .card img{
    border: none;
    border-radius: 1000px;
}
.row .card{
    text-align: center;
   border: none;
}